*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   } 
   body{
       align-content: center;
        width: 100vw;
        height: 100vh;
           }
           main{
            color: rgb(12, 231, 129);
               background-color: black;
           }
           footer{
            color: rgb(83, 211, 24);
font-family: sans-serif;
font-size: 20;
background-color: black;
text-align: center;
border-collapse: collapse;
padding: 20px;
margin: 0%;
display: block;
        }
        iframe{
            color: rgb(17, 206, 10);
            background-color: black;
            min-height:20px;
            padding: 20px;
            text-align: end;
            margin-inline: auto ;
            width: 15rem;
            height: 15rem;
        }
  table,th,tr,td{
             border: 3px solid black;
             border-collapse: collapse;
             padding: 1rem;
             color: black;
             text-align: center;
             font-family: sans-serif;
             font-size: 20;
             
             margin: 0%;
             text-align: center;
   max-height: 50%;
   padding: 16px;
   object-fit: contain;
   max-width: 50%;
   vertical-align: top;
   margin-inline: auto ;

           
   }
   caption{
    border: 3px solid black;
             border-collapse: collapse;
             padding: 1rem;
             color: greenyellow;
             text-align: center;
             background-color: black;
   }
   .equipos{
    background-color: rgb(136, 136, 243);
   }
   .fecha{
    background-color: rgb(206, 175, 235);
   }
   .hora{
    background-color:rgb(206, 175, 235) ;
   }
   section{
    background-color: black;
   }
   h1 {
       color: rgb(6, 202, 26);
       font-family: sans-serif;
       background-color: black;
       text-align: center;
   }
   h2 {
    color: rgb(83, 211, 24);
    font-family: sans-serif;
    font-size: 20;
    background-color: black;
    border: 2px solid red;
    text-align: center;
    border-collapse: collapse;
    padding: 20px;
    margin: 0%;
    display: block;
   }
   h3{
    font-family: sans-serif;
   color: rgb(12, 231, 129);
   text-align: center;
   max-height: 50%;
   padding: 16px;
   object-fit: contain;
   max-width: 50%;
   vertical-align: top;
   margin-inline: auto ;

   
   }
   nav{
       color: rgb(17, 206, 10);
       background-color: black;
       min-height:20px;
       padding: 20px;
       text-align: end;
       margin-inline: auto ;
   }
   a{
       background-color: blue;
       color: aqua;
       padding: 10px;
       border-radius: 10px;
       text-decoration: none;
       font-family: sans-serif;
   }
   a[href="#"]{
       background-color: yellowgreen;
       color: black;
   }
   #imagen{
       width: 2000px;
       height: 500px;
       width: 100%;
       margin: 0%;
   }
   p{ 
    color: greenyellow;
    background-color: black;
    text-align: center;
    font-family: sans-serif;
   }